[submodule "ClientAPIBOX/ObjectiveC/External/LFWebAPIKit"]
	path = ClientAPIBOX/ObjectiveC/External/LFWebAPIKit
	url = git://github.com/lukhnos/LFWebAPIKit.git
[submodule "ClientAPIBOX/ObjectiveC/External/facebook-iphone-sdk"]
	path = ClientAPIBOX/ObjectiveC/External/facebook-iphone-sdk
	url = http://github.com/facebook/facebook-iphone-sdk.git
[submodule "ClientAPIBOX/ObjectiveC/External/ObjectivePlurk"]
	path = ClientAPIBOX/ObjectiveC/External/ObjectivePlurk
	url = git://github.com/zonble/ObjectivePlurk.git
[submodule "ClientAPIBOX/ObjectiveC/External/bsjsonadditions"]
	path = ClientAPIBOX/ObjectiveC/External/bsjsonadditions
	url = git://github.com/blakeseely/bsjsonadditions.git
[submodule "ClientAPIBOX/ObjectiveC/External/scifihifi-iphone"]
	path = ClientAPIBOX/ObjectiveC/External/scifihifi-iphone
	url = git://github.com/ldandersen/scifihifi-iphone.git
[submodule "ClientAPIBOX/ObjectiveC/External/MGTwitterEngine-1.0.8-OAuth"]
	path = ClientAPIBOX/ObjectiveC/External/MGTwitterEngine-1.0.8-OAuth
	url = git://github.com/kimptoc/MGTwitterEngine-1.0.8-OAuth.git
[submodule "ClientAPIBOX/ObjectiveC/External/MGTwitterEngine"]
	path = ClientAPIBOX/ObjectiveC/External/MGTwitterEngine
	url = http://github.com/mattgemmell/MGTwitterEngine.git
[submodule "ClientAPIBOX/ObjectiveC/External/oauthconsumer"]
	path = ClientAPIBOX/ObjectiveC/External/oauthconsumer
	url = http://github.com/jdg/oauthconsumer.git
