[submodule "ClientAPIBOX/ObjectiveC/External/LFWebAPIKit"]
	path = ClientAPIBOX/ObjectiveC/External/LFWebAPIKit
	url = git://github.com/lukhnos/LFWebAPIKit.git
[submodule "ClientAPIBOX/ObjectiveC/External/facebook-iphone-sdk"]
	path = ClientAPIBOX/ObjectiveC/External/facebook-iphone-sdk
	url = http://github.com/facebook/facebook-iphone-sdk.git
[submodule "ClientAPIBOX/ObjectiveC/External/ObjectivePlurk"]
	path = ClientAPIBOX/ObjectiveC/External/ObjectivePlurk
	url = git://github.com/zonble/ObjectivePlurk.git
[submodule "ClientAPIBOX/ObjectiveC/External/bsjsonadditions"]
	path = ClientAPIBOX/ObjectiveC/External/bsjsonadditions
	url = git://github.com/blakeseely/bsjsonadditions.git
